<% provide(:title, @game.title) %>
<h3>
  <%= image_for @game %>
  <%= @game.title %>
</h3> 
<h5>
  <%= @game.console %>
</h5>
<h4><%= @game.genre %></h4>
<h4><%= @game.publisher %></h4>
<h4><%= @game.developer %></h4>
